
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --dark-01:#131313;
    --dark-02:#424242;
    --dark-03:#727272;
    --dark-04:#A1A1A1;
    --dark-05:#D0D0D0;
    --dark-06:#E7E7E7;
    --dark-07:#F3F3F3;
    --white-color:#FFFFFF;
    --Primary-bg-color:rgba(255, 144, 14, 0.1);
    --secondary-bg-color: #FFF4E7;
    --btn-color:#FF900E;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Share Style */
li{
    list-style: none;
}
a {
    text-decoration: none;
}
.btn {
    color: var(--white-color);
    padding: 20px 24px;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--btn-color);
    margin-bottom: 50px;
    border: 0px;
    outline: 0px;
    border-radius: 10px;
}
/* color Style  */
.bg-color{
    background-color: var(--Primary-bg-color);
}

/* Header Style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}
.nav-links{
    display: flex;
}
.nav-link {
    margin-right: 40px;
    font-weight: 500;
    font-size: 18px;
}
.navbar h3 {
    font-size: 45px;
    font-weight: bold;
    color: var(--dark-01);
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0px auto;
}
.navbar li a {
    color: var(--dark-02);
}
/* End The Header Section */
.banner-container{
    text-align: center;
    padding: 100px 0px;
}
.banner-container h3 {
    font-size: 64px;
    color: var(--dark-01);
}
.banner-container p {
    color: var(--dark-03);
    font-size: 16px;
    padding: 30px 290px;
}
.banner-container img{
    width: 100%;
    border-radius: 10px;
}